body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 box-sizing: border-box;
}

  .registerbtn {  
    position: absolute;
    width: 200px;
    left: 20%;
    padding: 2px;
    padding: 15px 25px; 
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: black;
    color:  white;
    background-color: cornflowerblue;
    border: 6px;
    border-radius: 16px;
    box-shadow: 0 9px #999;
 }
 .name_id {
  width: 90%;
    padding: 10px 25px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: lightblue;
    border-radius: 25px;
 }
 input[type=text] {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px; 
  margin: 10px auto; 
 }

 .mail_id {
  width: 90%;
  padding: 10px 25px;
  margin: 10px auto;
  border: 1px solid #ccc;
  background-color: lightblue;
  border-radius: 25px;
 }
 input[type=email] {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px; 
  margin: 10px auto; 

 }

 .pswd_id {
  width: 90%;
  padding: 10px 25px;
  margin: 10px auto;
  border: 1px solid #ccc;
  background-color: lightblue;
  border-radius: 25px;
 }
 input[type=password] {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px; 
  margin: 10px auto; 
 }


 .kommentti {
  width: 90%;
    padding: 10px 25px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: lightblue;
    border-radius: 25px;
 }
 textarea[name=comment] {
   width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    margin: 10px auto; 

 }
 .sukupuoli_id {
  width: 90%;
  border: 1px solid black;
  padding: 10px 25px;
  margin: 10px auto;
  border: 1px solid #ccc;
  background-color: lightblue;
  border-radius: 25px;
 }