body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 box-sizing: border-box;
}

  .registerbtn {  
    position: absolute;
    width: 200px;
    left: 20%;
    padding: 2px;
    padding: 15px 25px; 
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: black;
    color:  white;
    background-color: cornflowerblue;
    border: 6px;
    border-radius: 16px;
    box-shadow: 0 9px #999;
 }
 .name_id {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 9px #999;
 }

 .mail_id {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0; 
   border: 1px solid #ccc;
   border-radius: 25px;
   box-shadow: 0 9px #999;
 }

 .pswd_id {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 9px #999;
 }

 .kommentti {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 9px #999;
 }
 .sukupuoli_id {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 9px #999;
 }