
* {
    box-sizing: border-box;
}


body {
margin: 0; padding: 0;
background-image: url(../img/background.jpg);
background-repeat: no-repeat; 

}

.kortti {
    width: 40%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: lightblue;
    border-radius: 25px;
}
