html {
    background: lightblue;
}
btn {
    color: cyan; 
    background-color:cadetblue; 
    margin: 6px;
        
}


elokuvakirjasto {
    background-color: lightblue;
    color: lightgray;
    width: 100%;
}
elokuva {
    color: lightgreen; 
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

