html {
    background: lightblue;
    position: absolute;
    max-width: 500px;
    top: 35%; 
    left:35%;
}
 btn {
    color: cyan; 
    background-color:cadetblue; 
    margin: 6px;
    border: 1px black;
        
}

table {
    border: 2px solid black;
    border-collapse: initial;
}

elokuvakirjasto {
    background-color: lightblue;
    color: lightgray;
    width: 100%;
}
elokuva {
    color: lightgreen; 
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

